<ion-view view-title="Beranda">
  <ion-content>
    <div class="content has-header">
    	<div class="list card">
    		<a class="item item-avatar" href="#">
    			<img src="../img/gbr1.jpg" />
    			<h2>Budi</h2>
    			<p>Rekayasa Botol Plastics</p>
    		</a>
    	
    	<div class="item item-image">
    		<img src="../img/gbr1.1.jpg">
    	</div>
    	<a class="item item-icon-left" href="#">
    		<i class="icon ion-compose"></i>Kirim pesan ...
    	</a>
       </div> 
       
       <div class="list card">
    		<a class="item item-avatar" href="#">
    			<img src="../img/IMG_2042.png" />
    			<h2>Irfan Pratama</h2>
    			<p>nobar Chelsea vs Liverpool</p>
    		</a>
    	
    	<div class="item item-image">
    		<img src="../img/IMG_2045.JPG">
    	</div>
    	<a class="item item-icon-left" href="#">
    		<i class="icon ion-compose"></i>Kirim pesan ...
    	</a>
       </div> 
       
       <div class="list card">
    		<a class="item item-avatar" href="#">
    			<img src="../img/IMG_2042.png" />
    			<h2>Irfan Pratama</h2>
    			<p>nobar Chelsea vs Liverpool</p>
    		</a>
    	
    	<div class="item item-image">
    		<img src="../img/IMG_2043.JPG">
    	</div>
    	<a class="item item-icon-left" href="#">
    		<i class="icon ion-compose"></i>Kirim pesan ...
    	</a>
       </div> 
    </div>
  </ion-content>
</ion-view>
