<ion-view view-title="Article Yarabe">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list half">
            <div  ng-click="openModal()" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Bunga Dari Daur Ulang Botol Plastik</h2>
                    <img class="full-image" src="img/bunga_plastik.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        4
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        2
                    </a>
                </div>
            </div>
            <!--<button class="button button-full" ng-click="popover()">Popover</button>-->
            <div ng-click="openModal()" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                     <h2>Kado Anniversary Buat Pacar</h2>
                      <img class="full-image" src="img/kado.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        6
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        1
                    </a>
                </div>
            </div>
        </div>
        <div class="list half">
            <div ng-click="openModal()" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Pot unik dari kaleng bekas</h2>
                   <img class="full-image" src="img/pott.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        22
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        9
                    </a>
                </div>
            </div>
            <div ng-click="openModal()" class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Kreatif dengan Bohlam Bekas</h2>
                      <img class="full-image" src="img/Kapal_Bohlam.jpg">
                    
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        8
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        0
                    </a>
                </div>
            </div>
        </div>
        
    </ion-content>
    <script id="my-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title ink dark-bg">Bunga Dari Daur Ulang Botol Plastik</h1>
                </ion-header-bar>
                <ion-content class="padding">
                    <img class="full-image" src="img/cara_bunga_plastik.jpg">
                    <div>
                    <p>
                        Jutaan hingga ratusan juta minuman kemasan plastik berbagai merk diproduksi tiap harinya. Minuman ini dikemas untuk melegakan dahaga Anda. Botol plastik yang beredar umum di masyarakat adalah botol plastik minuman tipe 1, botol ini berbahan senyawa Polyethylene terephthalate yang bisa sebabkan iritasi kulit jika terlalu sering dihirup. Ribuan mikroba yang tertidur di dalamnya mampu berkembang biak dengan cepat jika terpapar cahaya matahari. Oleh karena itulah pemakaiannnya hanya dianjurkan satu kali pakai saja. Begitu pun karena tak bisa alami terurai, sampah botol plastik ini adalah musuh utama lingkungan.
                    </p>
                    <img class="full-image" src="img/cara_bunga_plastik2.jpg">
                    <p>
                    seorang yang punya ide cerdas. Ia adalah inovator membuat kerajinan bunga dari daur ulang botol plastik hingga menjadi kerajinan bernilai tinggi. Bunga-bunga kering seperti mawar, anggrek dan bunga lainnya ia hasilkan. semuanya berbahan botol-botol bekas.
                    Edi menuangkan ide kreatifnya di rumahnya di kawasan Pejaten Barat Jakarta Selatan. Dari tangan lincahnya ragam bunga plastik ia buat dengan lincah. Salah satunya bunga mawar kering ini. yuk kita buat kerajinan bunga dari daur ulang botol plastik ini, bunga yang kita buat adalah bunga tanda cinta ini.
                    Sebelumnya siapkan dulu beragam peralatan seperti botol plastik bekas, kawat, lem tembak, gunting serba guna, tang, solder dan cat pewarna. Lalu ini dia cara membuatnya:
                    Jadilah bunga mawar cantik yang rupawan.
                    Selain berinovasi Edi aktif memberikan pelatihan pembuatan bunga kering di berbagai tempat. Pameran berskala wilayah hingga nasional juga ia ikuti. Untuk membuat ragam pesanan, Edi dibantu anaknya.
                    Kini produk bunga kering milik Edi telah melanglang buana ke berbagai daerah di Indonesia bahkan kerajinan bunga dari daur ulang botol plastik ini telah dieksport ke luar negeri. Jadi tak ada salahnya kan memulai kreasi Anda dari bahan bekas.

                    </p>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>
      
      <script id="my-modal2.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title ink dark-bg">Kreatif dengan Bohlam Bekas</h1>
                </ion-header-bar>
                <ion-content class="padding">
                    <img class="full-image" src="img/Kapal_Bohlam.jpg">
                    <div>
                    <p>
                       Kita semua tahu sebaiknya lampu bohlam yang sudah rusak,  tidak boleh dibuang begitu saja. Tetapi mau bagaimana lagi karena memang bingung juga, harus dibuang kemana lagi? 
                       Akhirnya dibuang ke tempat sampah di depan rumah?
                       Sampah bohlam merupakan sampah yang sulit diurai  secara alami, karena mengandung bahan kimia dan gelas kaca, kalo tidak diproses dengan benar akan semakin membawa dampak buruk untuk lingkungan dan kehidupan kita. Jadi mulai sekarang jangan buang bohlam ya....

                       Berikut ini hasil karya sendiri dengan memanpaatkan bohlam bekas, sedikit ide kreatif dan usaha kesabaran akhirnya berhasil membuat Kapal dalam Bohlam.
  
                       Setelah browsing di internet ternyata banyak juga ide kreatif memanfaatkan bohlam bekas  .
                       Mari kita kumpulkan bohlam-bohlam bekas untuk membuat barang-barang unik dan menarik  agar bisa pajang di rumah untuk mempercantik ruangan dengan biaya murah...selain itu untuk mengurangi sampah bohlam. Berikut ini karya dari daur ulang Bohlam..semoga berguna dan menjadikan inspirasi bagi anda...
    
                       
                    </p>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>
        
        
      
        
        
</ion-view>
